force-app/main/default/flows/Send_Invoices.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Invoice should be sent to the insurance company’s email address.</description>
        <name>Send_Invoice_PDF_to_insurance</name>
        <label>Send Invoice PDF to insurance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Set_Invoice_Status_and_add_to_collection</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_Through_Invoices.Patient__r.Insurance_Company__r.Email_address__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>ceca.pele@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Email_Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;{!Insurance_Invoice_Email}&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentId</name>
            <value>
                <elementReference>Get_ContentDocumentLink.ContentDocument.LatestPublishedVersionId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <description>Invoice should be sent directly to the patient’s email address.</description>
        <name>Send_Invoice_PDF_to_patient</name>
        <label>Send Invoice PDF to patient</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Set_Invoice_Status_and_add_to_collection</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_Through_Invoices.Patient__r.Email_Address__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>ceca.pele@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Email_Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;{!Patient_Invoice_Email}&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentId</name>
            <value>
                <elementReference>Get_ContentDocumentLink.ContentDocument.LatestPublishedVersionId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Set Content Document Link Visibility to &apos;&apos;AllUsers&quot;, so users can download invoices through the Patient Portal.</description>
        <name>Set_Content_Document_Link_Visibility_and_add_to_collection</name>
        <label>Set Content Document Link Visibility and add to collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_ContentDocumentLink.Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentLinksToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_ContentDocumentLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Invoices</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Invoice Status to &quot;Sent&quot; and add it to collection.</description>
        <name>Set_Invoice_Status_and_add_to_collection</name>
        <label>Set Invoice Status and add to collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Invoices.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoicesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Invoices</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Content_Document_Link_Visibility_and_add_to_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determines if the current invoice is for a self-funded patient or for an insured patient.</description>
        <name>Check_Funding_Type</name>
        <label>Check Funding Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Send_Invoice_PDF_to_patient</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Self-funded</defaultConnectorLabel>
        <rules>
            <name>Insured</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Invoices.Patient__r.Funding_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Insured</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Invoice_PDF_to_insurance</targetReference>
            </connector>
            <label>Insured</label>
        </rules>
    </decisions>
    <description>Sends invoices each morning at 8:00 AM. If a patient is self-funding, the invoice is emailed directly to them. If insured, the invoice is sent to the insurance company. After sending, the invoice status is updated to “Sent.”</description>
    <environments>Default</environments>
    <interviewLabel>Send Invoices {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Invoices</label>
    <loops>
        <description>Iterates over each Draft Invoice__c record to determine the recipient and send the invoice email.</description>
        <name>Loop_Through_Invoices</name>
        <label>Loop Through Invoices</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Draft_Invoices</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_ContentDocumentLink</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Invoice_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Retrieves the ContentDocumentLink record that connects the generated invoice PDF file (stored in Salesforce Files) with the related Invoice__c record. This record provides the link between the file and the invoice so that the file can be referenced, attached, and sent via email.</description>
        <name>Get_ContentDocumentLink</name>
        <label>Get ContentDocumentLink</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Funding_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_Invoices.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieves all Invoice__c records where Status__c = &quot;Draft&quot; and a generated PDF is available. These will be processed in this flow.</description>
        <name>Get_Draft_Invoices</name>
        <label>Get Draft Invoices</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Invoices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <filters>
            <field>PDFMonkey_Document_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Content_Document_Links</name>
        <label>Update Content Document Links</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>ContentDocumentLinksToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Invoices from collection.</description>
        <name>Update_Invoice_Status</name>
        <label>Update Invoice Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Content_Document_Links</targetReference>
        </connector>
        <inputReference>InvoicesToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Draft_Invoices</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-09-25</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Email_Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Invoice {!Loop_Through_Invoices.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>Insurance_Invoice_Email</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;table class=&quot;ql-table-blob&quot; style=&quot;width: 765px; white-space-collapse: preserve;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;padding: 10px; width: 765px; vertical-align: top; white-space: pre;&quot;&gt;&lt;img title=&quot;Private Clinic logo&quot; data-cke-saved-src=&quot;https://orgfarm-781cff2ed0-dev-ed.develop.file.force.com/file-asset-public/Private_Clinic_logo?oid=00DgK00000AfVIE&quot; src=&quot;https://orgfarm-781cff2ed0-dev-ed.develop.file.force.com/file-asset-public/Private_Clinic_logo?oid=00DgK00000AfVIE&quot; alt=&quot;Private Clinic logo&quot; class=&quot;ckimgrsz&quot; style=&quot;max-width: 683.24px; height: 91.2125px; margin-bottom: 12px; width: 116px;&quot;&gt;                                                   &lt;p&gt;&lt;span style=&quot;font-family: Arial, Helvetica, sans-serif;&quot;&gt;Private Clinic&lt;br&gt;456 Elm Street&lt;br&gt;Springfield, IL 62704&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial, Helvetica, sans-serif;&quot;&gt;Email: info@clinic.com&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial, Helvetica, sans-serif;&quot;&gt;Phone: (217) 555-1234&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial, Helvetica, sans-serif;&quot;&gt;Website: www.clinic.com&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Dear {!Loop_Through_Invoices.Patient__r.Insurance_Company__r.Name} Team,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please find attached the invoice {!Loop_Through_Invoices.Name} for the patient {!Loop_Through_Invoices.Patient__r.Name}.&lt;/p&gt;&lt;p&gt;You can securely pay your invoice by clicking the link below:&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!Loop_Through_Invoices.Payment_Link__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;💳 Pay Your Invoice&lt;/a&gt;&lt;/p&gt;&lt;p&gt;If you need any additional information, please contact our clinic at &lt;strong&gt;(217) 555-1234&lt;/strong&gt; or &lt;strong&gt;info@clinic.com&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Sincerely,&lt;/p&gt;&lt;p&gt;&lt;em&gt;Private Clinic Team&lt;/em&gt;&lt;/p&gt;&lt;table class=&quot;ql-table-blob&quot; style=&quot;width: 765px; white-space-collapse: preserve; border-top: 1px solid rgb(204, 204, 204); margin-top: 20px; padding-top: 10px; font-size: 12px; color: rgb(102, 102, 102);&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;padding: 8px; width: 382.5px; vertical-align: top;&quot;&gt;© 2025 Private&amp;nbsp;Clinic. All rights reserved.&lt;/td&gt;&lt;td style=&quot;padding: 8px; text-align: right; width: 382.5px; vertical-align: top;&quot;&gt;456 Elm Street, Springfield, IL 62704 | (217) 555-1234 | info@clinic.com&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial, Helvetica, sans-serif;&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Patient_Invoice_Email</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;table class=&quot;ql-table-blob&quot; style=&quot;width: 765px; white-space-collapse: preserve;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;padding: 10px; width: 765px; vertical-align: top; white-space: pre;&quot;&gt;&lt;img style=&quot;max-width: 683.24px; height: 91.2125px; margin-bottom: 12px; width: 116px;&quot; title=&quot;Private Clinic logo&quot; data-cke-saved-src=&quot;https://orgfarm-781cff2ed0-dev-ed.develop.file.force.com/file-asset-public/Private_Clinic_logo?oid=00DgK00000AfVIE&quot; src=&quot;https://orgfarm-781cff2ed0-dev-ed.develop.file.force.com/file-asset-public/Private_Clinic_logo?oid=00DgK00000AfVIE&quot; alt=&quot;Private Clinic logo&quot; class=&quot;ckimgrsz&quot;&gt;                                                   &lt;p&gt;&lt;span style=&quot;font-family: Arial, Helvetica, sans-serif;&quot;&gt;Private Clinic&lt;br&gt;456 Elm Street&lt;br&gt;Springfield, IL 62704&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial, Helvetica, sans-serif;&quot;&gt;Email: info@clinic.com&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial, Helvetica, sans-serif;&quot;&gt;Phone: (217) 555-1234&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial, Helvetica, sans-serif;&quot;&gt;Website: www.clinic.com&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Dear {!Loop_Through_Invoices.Patient__r.Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please see attached the invoice {!Loop_Through_Invoices.Name} for the consultation with {!Loop_Through_Invoices.Appointment__r.Doctor__r.Name} on {!Loop_Through_Invoices.Appointment__r.Date__c}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You can securely pay your invoice by clicking the link below:&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!Loop_Through_Invoices.Payment_Link__c} &quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;💳 Pay Your Invoice&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you need any additional information, please contact our clinic at &lt;strong&gt;(217) 555-1234&lt;/strong&gt; or &lt;strong&gt;info@clinic.com&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Sincerely,&lt;/p&gt;&lt;p&gt;&lt;em&gt;Private Clinic Team&lt;/em&gt;&lt;/p&gt;&lt;table class=&quot;ql-table-blob&quot; style=&quot;width: 765px; white-space-collapse: preserve; border-top: 1px solid rgb(204, 204, 204); margin-top: 20px; padding-top: 10px; font-size: 12px; color: rgb(102, 102, 102);&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;padding: 8px; width: 382.5px; vertical-align: top;&quot;&gt;© 2025 Private&amp;nbsp;Clinic. All rights reserved.&lt;/td&gt;&lt;td style=&quot;padding: 8px; text-align: right; width: 382.5px; vertical-align: top;&quot;&gt;456 Elm Street, Springfield, IL 62704 | (217) 555-1234 | info@clinic.com&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial, Helvetica, sans-serif;&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ContentDocumentLinksToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>InvoicesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice__c</objectType>
    </variables>
</Flow>
